<div class="auth-container">
  <div class="auth-card">
    <h2>CREAR CUENTA</h2>
    
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="input-group">
        <input type="text" formControlName="nombre" placeholder="Nombre completo" class="auth-input">
        <small *ngIf="registerForm.get('nombre')?.touched && registerForm.get('nombre')?.invalid">El nombre es obligatorio</small>
      </div>

      <div class="input-group">
        <input type="email" formControlName="email" placeholder="Correo electrónico" class="auth-input">
        <small *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">Introduce un email válido</small>
      </div>

      <div class="input-group">
        <input type="password" formControlName="password" placeholder="Contraseña (mín. 6 caracteres)" class="auth-input">
        <small *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">Mínimo 6 caracteres</small>
      </div>
      
      <button type="submit" [disabled]="registerForm.invalid" class="btn-auth">REGISTRARSE</button>
    </form>
    
    <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
  </div>
</div>